.popup {
    height: 100vh;
    width: 100%;
    background-color: rgba($color-grey-dark-3, .8);
    top: 0;
    left: 0;
    position: fixed;
    z-index: 4000;
    transition: all .2s;

    opacity: 0;
    visibility: hidden;

    @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) { // if this attribute is suppoerted by browser then it will be applied that is why we are using @supports keyword, if not supported then we are doing deligated degradation which means we are not applying this block if it's not suppoorted.      
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba($color-grey-dark-3, .3);
    }


    &:target { // on clicking book now of section-tours we are displating this popup
        opacity: 1;
        visibility: visible;
    }

    &__close {

        &:link,
        &:visited {
            display: inline-block;
            color: $color-grey-dark;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            transition: all .2s;
            line-height: 1;
        }

        &:hover {
            color: $color-primary;
        }
    }

    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 75%;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        border-radius: 3px;
        
        display: table;
        overflow: hidden; // as image was overflowing on top of border radius which is resulting in invisibility of border radius,to overcome this problem we are using overflow:hidden  
    }

    &__left {
        width: 33.333333%;
        display: table-cell; // Parent should be specified as table(&__content in our case) also browser will give eaual height for both left and right if we define this property for both left and right.

        @include respond(tab-port) {
            vertical-align: middle;
        }
    }

    &__right {
        width: 66.666666%;
        display: table-cell; 
        vertical-align: middle; // for centering the right side of table(from top and bottom)
        padding: 3rem 5rem;
    }

    &__img {
        display: block;
        width: 100%;
    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;

        -moz-column-count: 2; // this is used to create 2 columns while displaying paragraph
        -moz-column-gap: 4rem;
        -moz-column-rule: 1px solid $color-grey-light-2;

        -ms-column-count: 2; // this is used to create 2 columns while displaying paragraph
        -ms-column-gap: 4rem;
        -ms-column-rule: 1px solid $color-grey-light-2;

        -webkit-column-count: 2; // this is used to create 2 columns while displaying paragraph
        -webkit-column-gap: 4rem;
        -webkit-column-rule: 1px solid $color-grey-light-2;

        column-count: 2; // this is used to create 2 columns while displaying paragraph
        column-gap: 4rem;
        column-rule: 1px solid $color-grey-light-2;

        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }
}